.home-screen {
  h1, h2, h3 {
    // @include font-light();
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }

  .container.home-title-partial {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .text-box {
      margin-top: -100px;
      @media (min-width: $medium) {
        margin-top: -70px;
      }
      @media (min-width: $large) {
        margin-top: 0px;
      }
      h1 {
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
        @media (min-width: $medium) {
          font-size: 45px;
        }
        @media (min-width: $large) {
          font-size: 50px;
        }
      }
      h3 {
        color: $orange;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        @media (min-width: $medium) {
          font-size: 25px;
        }
        @media (min-width: $large) {
          font-size: 30px;
        }
      }
    }
  }

  .partial-text {
    max-width: 900px;
    &.right-align {
      margin-left: auto;
    }
    h2 {
      font-size: 30px;
      @media (min-width: $medium) {
        font-size: 35px;
      }
      @media (min-width: $large) {
        font-size: 45px;
      }
    }
    h3 {
      color: $orange;
      font-size: 22px;
      @media (min-width: $large) {
        font-size: 25px;
      }
      @media (min-width: $medium) {
        font-size: 30px;
      }
    }
  }

  .container.home-stats {
    h3 {
      max-width: 767px;
      margin: 0 auto;
    }
    .home-stat-container {
      display: flex;
      flex-direction: column;
      margin: 120px auto 70px;
      @media (min-width: $medium) {
        width: 767px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 120px;
      }
      .home-stat-card-container {
        @media (max-width: $medium - 1){
          margin-bottom: 70px;
        }
        .home-stat-card {
          @media (max-width: $medium - 1){
            margin: 0 auto 70px;
          }
          background-color: $orange;
          width: 150px;
          height: 150px;
          position: relative;
          margin-bottom: 70px;
          .triangle {
            width: 0;
            height: 0;
            border-right: 75px solid transparent;
            border-left: 75px solid transparent;
            position: absolute;

            left: 0;
            &.top {
              top: -39px;
              border-bottom: 40px solid $orange;
            }
            &.bottom {
              bottom: -39px;
              border-top: 40px solid $orange;
            }
          }
        }
        p {
          margin-top: -20px;
        }
      }
    }
  }
}
