.event-card-container {
  position: relative;
  max-width: 550px;
  .img {
    width: 100%;
  }
  .info {
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 120px);
    height: calc(100% - 140px);
    margin: 70px 60px;
    transition: 0.3s;
  }
  &:hover {
    .info {
      opacity: 1;
    }
  }
}
