
h3 {
  text-align: center;
  color: $orange;
  max-width: 686px;
  margin: 0 auto;
}

.img-text-container {
  @media (min-width: $medium) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
  }
  p {
    max-width: 475px;
    &.left {
      margin-right: 40px;
    }
    &.right {
      margin-left: 40px;
    }
   }
  .img-bubble {
    height: 475px;
    max-width: 475px;
    border-radius: 50%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
  }
}
