.projects-screen {
  .projects-text-container {
    padding-top: 125px;
    padding-bottom: 125px;
    @media (min-width: $medium) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    .subtitle-container {
      margin-bottom: 60px;
      @media (min-width: $medium) {
        margin-bottom: 70px;
      }
      h3.projects-subtitle {
        text-align: left;
        color: $orange;
        max-width: 910px;
        margin: 0 auto;
        font-size: 22px;
        @media (min-width: $large) {
          font-size: 25px;
        }
        @include font-light();
        @media (min-width: $medium) {
          text-align: center;
        }
      }
    }

    .body-container {
      margin-bottom: 80px;
      @media (min-width: $medium) {
        margin-bottom: 125px;
      }
      .body-text {
        font-size: 18px;
      }
    }

    .donate-container {
      .donate-text {
        text-align: center;
        font-size: 18px;
        // @media (min-width: $large) {
        //   font-size:15px;
        // }
        span {
          color: $orange;
        }
      }
    }
  }

  .map-widget-container {
    padding-top: 125px;
    padding-bottom: 125px;
    @media (min-width: $medium) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    .map-widget {
      h1.map {
        margin-bottom: 100px;
        color: $orange;
      }
      .map-container {
        position: relative;
        max-width: 550px;
        margin: 0 auto;
        img.map {
          width: 100%;
        }
        .sun-container {
          position: absolute;
          top: 50%;
          left: 50%;
          img {
            height: 35px;
            width: 35px;
            z-index: 10;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .more-coming {
        color: $orange;
      }
    }
    .sun-text {
      margin-top: 0px
    }
  }
}

.projectModal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  @media (min-width: $medium) {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
  background-color: $black;
  &:focus {
    outline: 0;
  }
}

.projectOverlay {
  position: fixed;
  overflow: scroll;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  &:focus {
    outline: 0;
  }
}

img.close {
  height: 35px;
  width: 35px;
  &:hover{
    cursor: pointer;
  }
}
.project-modal-content {
  @media (min-width: $large) {
    display: flex;
    flex-direction: row;
  }
  .modal-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (min-width: $large) {
      margin-right: 70px;
      width: 50%;
    }
    .name {
      margin-bottom: 5px;
      font-size: 35px;
    }
    .province {
      color: $orange;
      font-size: 25px;
      margin-top: 0px;
    }
    .desc {
      margin-bottom: 30px;
    }
    .completed {
      margin-bottom: 5px;
    }
    .maps {
      color: $orange;
      font-size: 22px;
      margin-top: 0px;
    }
  }
  .modal-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
    @media (min-width: $large) {
      flex-direction: column;
      width: 50%;
    }
    .main-image {
      width: 100%;
      // height: 300px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      // max-width: 400px;
      margin: 0 auto;
      @media (min-width: $large) {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
      }
    }
    .thumbnail-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 50px;
      @media (min-width: $large) {
        flex-direction: row;
        margin-top: 20px;
        justify-content: flex-end;
      }
      &.mobile-only {
        justify-content: space-between;
        margin-top: 40px;
        @media (min-width: $medium) {
          display: none;
        }
      }
      &.not-mobile {
        @media (max-width: $medium - 1) {
          display: none;
        }
      }
      .thumbnail-image {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        @media (min-width: $large) {
          margin-right: 15px;
        }
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
        &:hover {
          cursor: pointer;
        }
        &:last-of-type {
          margin-right: 0px;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}
