.container {
  max-width: 1180px;
  margin: 0 auto;
  // height: 100%;
  padding-top: 150px;
  overflow: hidden;
  &.flex-row {
    @media (min-width: $medium) {
      display: flex;
      flex-direction: 'row';
      justify-content: space-between;
    }
  }

  &.page-title {
    height: 100%;
    @media (min-width: $medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
