
.footer-container {
  border-top: 1px solid $orange;
  width: 100%;
  padding-top: 50px;
  .footer-div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    img {
      height: 80px;
      width: 80px;
    }
    .link {
      padding: 20px 0;
    }
  }
}
