
.footer-container {
  border-top: 1px solid $orange;
  padding-top: 50px;
  @media (min-width: $medium) {
    padding: 50px 20px 10px 20px;
  }
  .footer-div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;

    // MOBILE ONLY
    &.mobile-only {
      @media (min-width: $medium) {
        display: none;
      }
      .top-part {
        margin-bottom: 20px;
      }
      .bottom-part {
        margin-bottom: 20px;
        .enquiries {
          margin-top: 60px;
          margin-bottom: 60px;
        }
        .website {
          margin-bottom: 20px;
        }
      }
    }

    // NOT MOBILE
    &.not-mobile {
      @media (max-width: $medium - 1) {
        display: none;
      }
      .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
          margin-top: 25px;
          text-align: left;
          font-size: 40px;
          color: $orange;
        }
        .links {
          display: flex;
          flex-direction: row;
          .link {
            font-size: 25px;
            @media(min-width: $medium) {
              margin-right: 30px;
            }
            @media(min-width: $large) {
              margin-right: 55px;
            }
          }
          p {
            padding: 20px 0;
            margin: 0;
          }
          a {
            &:last-of-type {
              margin-right: 0px;
            }
          }
        }
        .icon-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @media (min-width: $medium) {
            max-width: 200px;
            margin-left: auto;
          }
          .motto-text {
            color: $orange;
            font-size: 18px;
            @media (min-width: $medium) {
              text-align: right;
            }
          }
        }
      }
      .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .enquiries {
          font-size: 22px;
        }
      }
      .third-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .motto-text {
      color: $orange;
    }
    .enquires {
      color: $orange;
      font-size: 18px;
    }
    img {
      height: 80px;
      width: 80px;
    }
    .link {
      padding: 20px 0;
    }
    span {
      color: $orange;
    }
    .social-container {
      margin-bottom: 60px;
      @media (min-width: $medium) {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        width: 166px;
        padding: 20px 0px;
      }
    }
  }
}
