
.image-partial {
  /* Full height */
  height: 710px;
  position: relative;
  z-index: 1;
  &.home-screen {
    height: 90vh;
    min-height: 736px;
  }
  &.home-screen:after {
    height: 90vh;
    min-height: 736px;
  }
  // @media (hover: none) {
  //   &.home-screen {
  //     background-attachment: scroll;
  //   }
  // }
  &.border-top {
    border-top: 1px solid $orange;
  }
  &.page-title {
    border-bottom: 1px solid $orange;
  }
  .background-img {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &.home-screen {
      background-attachment: fixed;
      background-size: cover;
      @media (hover: none) {
        &.home-screen {
          background-attachment: inherit;
        }
      }
    }
  }
}
