//

h1 {
  color: $white;
  &.page-title {
    font-size: 75px;
    margin-top: 130px;
    margin-bottom: 0px;
  }
}

h2 {
  color: $white;
}

h3 {
  color: $white;
  &.sub-title {
    font-size: 25px;
    margin-top: -10px;
    color: $orange;
  }
}

p {
  color: $white;
}

a {
  color: $white;
}
